 h1{
  color: black;
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  width: 100%;
  font-family: Comic Sans MS, Arial , Tahoma;
}

.container{
  background-color: burlywood; opacity: 0.85;
  width: 100%;
  position: relative;
  top: 30%;

 }

 body {
   background-image: url(uno.jpg);
   background-repeat: no-repeat;
   background-position: center;
   position: absolute;
   width: 100%;
   height: 100%;
 }

 h2{
  color: black;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  width: 100%;
  font-family: Comic Sans MS, Arial , Tahoma;
}


